<div class="item">
  <%= render schedule_day.schedule_events %>
</div>

<!--
  <div class="event">
      <div class="event-inner">
          <div class="icon">
              <i class="fa fa-2x fa-clock-o"></i>
              <span class="time">09.00 AM</span>
          </div>

          <div class="description">
              <h3>Sed vulputate sem magna</h3>
              <p>Vestibulum vel accumsan arcu. Duis nisl purus, interdum nec arcu nec, rutrum fringilla neque. Pellentesque vestibulum turpis sit amet venenatis faucibus.</p>
              <span class="name">Leo Davis</span>
          </div>
      </div>
  </div>

  <div class="event">
      <div class="event-inner">
          <div class="icon">
              <i class="fa fa-2x fa-clock-o"></i>
              <span class="time">10.30 AM</span>
          </div>

          <div class="description">
              <h3>Morbi semper ac diam</h3>
              <p>Vestibulum tincidunt aliquam feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia</p>
              <span class="name">Danielle Grant</span>
          </div>
      </div>
  </div>

  <div class="event">
      <div class="event-inner">
          <div class="icon">
              <i class="fa fa-2x fa-cutlery"></i>
              <span class="time">12.00 PM</span>
          </div>

          <div class="description">
              <h3>Launch</h3>
          </div>
      </div>
  </div>

  <div class="event">
      <div class="event-inner">
          <div class="icon">
              <i class="fa fa-2x fa-clock-o"></i>
              <span class="time">01.30 PM</span>
          </div>

          <div class="description">
              <h3>Ut posuere purus in elementum tincidunt</h3>
              <p>Integer ut felis diam. Duis sit amet sapien non ipsum ornare consequat. Nunc suscipit ut massa a adipiscing. Integer ac convallis diam. In sagittis eleifend urna in porttitor.</p>
              <span class="name">Jayden Hawkins</span>
          </div>
      </div>
  </div>

  <div class="event">
      <div class="event-inner">
          <div class="icon">
              <i class="fa fa-2x fa-clock-o"></i>
              <span class="time">03.00 PM</span>
          </div>

          <div class="description">
              <h3>Proin luctus enim</h3>
              <p>Proin luctus enim mauris, vitae tristique nisi suscipit nec. Phasellus euismod gravida est, id sagittis ligula posuere ac.</p>
              <span class="name">Susan Robertson</span>
          </div>
      </div>
  </div>
-->

