<div class="row pov">
  <div class="large-12 columns">
    <h1 class="text-center">
      iOS 10
      <small>Programming for Beginners</small>
      <small>by Craig Clayton</small>
    </h1>
    <%= image_tag('swift-book.png', alt: 'iOS 10 For Beginners Xcode') %>
  </div>
</div>

<div class="row">
    <div class="large-12 columns">
      <p class="text-center">
        <a href="https://www.amazon.com/iOS-Programming-Beginners-Craig-Clayton/dp/1786464500/" class="button custom-button" target="blank">Amazon</a>
        <a href="https://www.packtpub.com/application-development/ios-10-programming-beginners" class="button custom-button" target="blank">PacktPub</a>
      </p>
    </div>
</div>

<div class="row top-border top-padding">
  <div class="small-12 medium-7 large-8 columns">
    <h1>Summary</h1>
    <p>
      You want to build iOS applications for iPhone and iPad—but where do you start? Forget
      sifting through tutorials and blog posts, this is a direct route into iOS development,
      taking you through the basics and showing you how to put the principles into practice.
      With every update, iOS has become more and more developer-friendly, so take advantage
      of it and begin building applications that might just take the App Store by storm!
    </p>
    <p>
      Whether you're an experienced programmer or a complete novice, this book guides you
      through every facet of iOS development. From Xcode and Swift—the building blocks of
      modern Apple development—and Playgrounds for beginners, one of the most popular
      features of the iOS development experience, you'll quickly gain a solid foundation
      to begin venturing deeper into your development journey. For the experienced programmer,
      jump right in and learn the latest iOS 10 features.
    </p>
    <p>
      You'll also learn the core elements of iOS design, from tables to tab bars, as well as
      more advanced topics such as gestures and animations that can give your app the edge.
      Find out how to manage databases, as well as integrating standard elements such as photos,
      GPS into your app. With further guidance on beta testing with TestFlight, you'll quickly
      learn everything you need to get your project on the App Store!
    </p>
  </div>
  <div class="small-12 medium-5 large-4 columns">
    <h1>Contents</h1>
    <ul>
      <li>Getting Familiar with Xcode</li>
      <li>Building a Foundation with Swift</li>
      <li>Digging Deeper</li>
      <li>Digging into Collections</li>
      <li>Starting the UI Setup</li>
      <li>Setting up UI</li>
      <li>Getting Started with the Grid</li>
      <li>Getting Started with the List</li>
      <li>Working More with Lists</li>
      <li>Where are we?</li>
      <li>Wheres my data?</li>
      <li>Foodie Reviews</li>
      <li>Saving Reviews</li>
      <li>Universal</li>
      <li>iMessages</li>
      <li>Notifications</li>
      <li>Just a Peek</li>
      <li>Beta and Store Submissions</li>
    </ul>
  </div>
</div>
<div class="row top-border top-padding">
  <div class="small-12 medium-7 large-8 columns right-border about-the-author">

    <%= image_tag('author-craig-clayton.png', class: 'thumbnail', alt: 'Author iOS 10 for Beginners - Craig Clayton') %>
    <div>
      <h1>About the Author</h1>
      <p>
        Craig Clayton is a self-taught, Sr. iOS Engineer at Adept Mobile, which specializes in
        building mobile experiences primarily for NBA and NFL teams. Craig also volunteers as
        the organizer of the Suncoast iOS meetup group in the Tampa/St. Petersburg area, and
        prepares presentations and hands-on talks for the group as well as for other groups in
        the community.
      </p>
      <p>
        He has worked with both adults and kids who wish to start learn how to program or those
        who aspire to become iOS developers. On top of all that, starting in 2017 Craig has
        plans to launch, Cocoa Academy online which will specialize in bringing a diverse
        list of iOS courses. The courses will range from building apps to games for all
        programming levels.
      </p>
    </div>
  </div>
  <div class="small-12 medium-5 large-4 columns">
    <h1>Additional Info</h1>
    <ul class="chapters">
      <li><strong>ISBN13:</strong> 9781786464507</li>
      <li><strong>Paperback:</strong> 575 pages</li>
      <li><strong>Published:</strong> December 2016</li>
    </ul>
  </div>
</div>
