<div class="row pov">
    <div class="small-12 large-6 columns">
      <div class="title-workshop small-12 small-centered columns">
        <h2><a href="https://forwardcourses.com/workshops/13">Soccer Pong</a></h2>
        <div class="event-details text-center">
          <span>
              <span>July 27, 2016</span><small class="bullet"> | </small>
              <span>9:30am - 4:30pm</span><br>
            </span>
        </div>
          <%= image_tag('soccer-pong-pov.png', alt: 'Soccer Pong') %>
      </div>
        <p>Walk out of this workshop with your own tvOS game and the basics of SpriteKit using Swift 2.0. During this workshop we will work to build a game called SoccerPong - twist on the classic Pong game - for the Apple TV using tvOS. Wether you have experience working with Swift or not this workshop will help you get your first app going. During this workshop we will cover the following</p>
    </div>

    <div class="columns small-12 large-6">
        <div class="plan featured" style="visibility: visible; ">
          <div class="plan-header">
            <div class="title">
              <small>What we will cover</small>
            </div>
          </div>

          <div class="plan-list">
            <ul class="workshop-list">
              <li>Using animations</li>
              <li>Building a game start & game over screen</li>
              <li>Basic physics (I hate math so it will not be complicated)</li>
              <li>Sounds (background music & sound effects)</li>
              <li>Swift 2.0 basics</li>
              <li>SpriteKit Physics Bodies</li>
              <li>Collision Detection</li>
              <li>Creating Scenes in code and within a scene editor</li>
              <li>Adding a third party controller</li>
              <li>....And more!</li>
            </ul>
          </div>

          <div class="plan-footer">
            <a href="https://forwardcourses.com/workshops/13" class="button custom-button" title="Get Started">Register Now</a>
          </div>
        </div>
      </div>
</div>
