
@font-face {
  font-family: 'myriad_set_prothin';
  src: url(asset-path('myriadsetpro-thin-webfont.eot'));
  src: url(asset-path('myriadsetpro-thin-webfont.eot?#iefix')) format('embedded-opentype'),
  url(asset-path('myriadsetpro-thin-webfont.woff2')) format('woff2'),
  url(asset-path('myriadsetpro-thin-webfont.woff')) format('woff'),
  url(asset-path('myriadsetpro-thin-webfont.ttf')) format('truetype'),
  url(asset-path('myriadsetpro-thin-webfont.svg#myriad_set_prothin')) format('svg');
  font-weight: lighter;
  font-style: lighter;
}

@font-face {
  font-family: 'myriad_set_probold';
  src: url(asset-path('myriadsetpro-bold-webfont.eot'));
  src: url(asset-path('myriadsetpro-bold-webfont.eot?#iefix')) format('embedded-opentype'),
  url(asset-path('myriadsetpro-bold-webfont.woff2')) format('woff2'),
  url(asset-path('myriadsetpro-bold-webfont.woff')) format('woff'),
  url(asset-path('myriadsetpro-bold-webfont.ttf')) format('truetype'),
  url(asset-path('myriadsetpro-bold-webfont.svg#myriad_set_prothin')) format('svg');
  font-weight: lighter;
  font-style: lighter;
}

body,
h1,h2,h3,h4,h5,
.row{
  font-family: "myriad_set_prothin";
}

.row{
  font-size: 20px;
}

/* New Navbar view */
body {
  padding-top:120px;
}
body > header {
  background-color:#F5F5F5;
  padding:0;
  position:fixed;
  backface-visibility: hidden;
  left:0;
  right:0;
  top:0;
  z-index:100;
  border-bottom:1px solid #ddd;
}
body > header img {
  height:60px;
  margin:10px 0;
  width: auto;
  display: block;
}
body > header .menu {
  float: right;
}
body > header .menu a{
  color: #2d3e50;
  line-height:80px;
  padding:0 10px;
}

#header-feature-real-world {
  display: block;
  width: 171px;
  height: 74px;
  background: url(asset-path('header-real-world.svg')) no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#header-feature-code-based {
  display: block;
  width: 188px;
  height: 67px;
  background: url(asset-path('header-code-based.svg')) no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.row {
  max-width: 62.5rem;
}

.pov {
  margin-bottom: 50px;
}
.pov img {
  width: auto;
  display: block;
  margin: 0 auto;
}

.pov h1 {
  color: #BF1238;
  font-size:4.6875rem;
  display: block;
  line-height: 1;
  margin-bottom: 40px;
}
.pov h1 small {
  font-size:.48em;
  color:#333;
  display: block;
  position: relative;
  line-height: 1;
}
.pov h1 small + small {
  color: #BF1238;
  font-size:.33em;
}
.row img {
  width: auto;
}
.about-the-author img{
  float: left;
  margin:0;
  height:220px;
  width:220px;
}
.about-the-author img + div {
  margin-left:250px;
}

header img {
  max-height: 134px;
  display: block;
  margin: 20px auto;
}

.copy {
  text-align: center;
}

.custom-button {
  background-color: #BF1238;
  font-weight: 600;
  font-size: 24px;
  line-height: 14px;
}

a.button.custom-button,  {
  color: #ffffff;
}

.button:hover {
  background-color: #D9133F;
}

input#fieldEmail {
  height:3rem;
  font-size: 28px;
}

.postfix.button {
  height: 3rem;
}

.sign-up-email {
  width:73%;
  float:left;
  background:#fff;
  border:1px solid #ccc;
  border-top:1px solid #bbb;
}

.top-border{
  border-top: 1px solid #979797;
}
.right-border{
  border-right: 1px solid #979797;
}
.top-padding {
  padding-top: 20px;
}

@media only screen and (min-width: 40.063em) {
  .features-container {
    border-top: 1px solid #979797;
    padding-top: 25px;
  }
}

.feature {
  overflow: auto;
}

.feature-icon {
  float: left;
}

.feature-icon img {
  display: block;
}

.feature-content {
  margin-left: 45px;
}

.course {
  background-color: #FAFAFA;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.course  a {
  color: currentColor !important;
}

.course p {
  line-height: 0.6;
}

.course h5 {
  font-size: 28px;
  font-weight: normal;
  color: #BF1238;
  margin-top: 20px;
  margin-bottom: 8px;
  padding-top: 20px;
  line-height: 0.3em;
}

[type='email'] {
  margin: 0 0 0rem;
}

.course h5 small {
  font-family: "Arial Narrow";
  font-size: 26px;
  font-weight: lighter;
  color: #BF1238;
}

.course small {
  font-size: 20px;
}

.date {
  font-size: 10px;
}

.course img {
  width:auto;
  margin-bottom: 20px;
}

.title {
  text-align: center;
}

.title h2 {
  font-size: 48px;
  font-weight: normal;
  color: #BF1238;
  margin-top: 20px;
  margin-bottom: -5px;
}

.title small {
  font-size: 22px;
}

.title-workshop h2 {
  font-size: 48px;
  font-weight: normal;
  color: #BF1238;
  text-align: center;
  line-height: 0.5;
}

.title-workshop img {
  padding: 20px 0;
}

.pov .title-workshop small {
  font-size: 22px;
  width: 100%;
  text-align: center;
}

.bullet {
  font-family: Arial;
}

.pov .event-details .bullet {
  padding-top: 5px;
  font-family: Arial;
  font-size: 17px;
}

.footer-row {
    margin-left: 0px;
    margin-right: 0px;
    min-width: 100%;
}

footer {
    background-color: #eee;
    margin-top: 50px;
    text-align: center;
    padding-top: 10px;
}

footer p {
  line-height: 94%;
}

.sign-up {
  margin: 25px 0;
}

.box {
  width: 100%;
  position: relative;
}
.ribbon {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  overflow: hidden;
  width: 200px; height: 200px;
  text-align: right;
}
.ribbon span {
  font-size: 14px;
  font-weight: bold;
  color: #BF1238;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-48deg);
  -webkit-transform: rotate(-48deg);
  width: 150px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#D8D8D8 0%, #D8D8D8 100%);
  position: absolute;
  top: 35px; left: -33px;
}

.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 50%;
  z-index: -1;
}

.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 50%;
  z-index: -1;
}

.event-details {
}


.plan {
  background-color: #FFF;
  border: 1px solid #e3e3e3;
  cursor: pointer;
  margin-bottom: 20px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}
.plan:hover {
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.plan .plan-header {
  border-bottom: 1px solid;
  border-bottom-color: #e3e3e3;
  padding: 10px 10px 10px;
  text-align: center;
}
.plan .plan-header .plan-price {
  font-size: 50px;
  line-height: 1;
  margin-bottom: 20px;
}
.plan .plan-header .plan-price .symbol {
  font-size: 20px;
  vertical-align: top;
  position: relative;
  margin: 7px 0;
  display: inline-block;
}
.plan .plan-header .plan-price .term {
  font-size: 20px;
  vertical-align: bottom;
  display: inline-block;
}
.plan .plan-header .plan-name {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.plan .plan-list {
  padding-top: 20px;
}
.plan .plan-list ul {
  display: table;
  margin: 0 auto;
  padding: 0 40px;
}
.plan .plan-list ul li {
  list-style: none;
  border-bottom: 1px solid #EAECEB;
  line-height: 40px;
}
.plan .plan-list ul li:last-child {
  border-bottom: 0;
}
.plan .plan-list ul li i {
  margin-right: 12px;
}
.plan .plan-footer {
  padding: 20px;
  text-align: center;
}
.plan.featured {
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      margin-top: 5px;
}

// remove right border and center logo in new nav bar
@media (max-width:990px){
  .about-the-author{
    text-align: center;
  }
  .about-the-author img {
    float: none;
    margin:20px auto;
  }
  .about-the-author img + div{
    margin:0;
    text-align: left;
  }
}
@media (max-width:640px){
  .row h1 {font-size:50px !important;}
  .row h2 {font-size:36px !important;}
  .right-border {border-right:none;}
}
