<div class="row pov">
  <div class="large-12 columns">
    <h1 class="text-center">
      Swift 101
      <small>Getting Started</small>
      <small>April 1st, 2017</small>
      <small>Live Online</small>
    </h1>
    <%= image_tag('workshop-pov.png', alt: 'iOS Beginners Workshop') %>
  </div>
</div>

<div class="row">
    <p class="text-center">In this workshop, we will build a Square Cash clone called My Dinero. During the one day workshop, we will use features such as SiriKit, Contacts and TouchID for security.  There is no experience necessary for attending this workshop.  The instructor, Craig Clayton, who wrote the book iOS 10 Programming for Beginners, will guide you step by step in buidling an iOS app.  By the end of the workshop, you will have a better understanding of how to create an iOS app for the lastest iOS.</p>
    
    <p class="text-center">This one day workshop, will be held at The Iron Yard in St. Petersburg, FL.  Workshop will start promptly at 9:00am - 5:00pm and will cost $50 to attend plus a $2.00 credit card processing fee.  Seating is limited, buy a ticket now.</p>
    
    <p class="text-center">Paying for the class reserves your spot.  No refunds 48 hours prior to the event.</p>
    
    <%= form_tag charges_path, id:'chargesForm' do %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
      </article>

      <script src="https://checkout.stripe.com/checkout.js"></script>
      <%= hidden_field_tag 'stripeToken' %>
      <%= hidden_field_tag 'stripeEmail' %>
      <%= hidden_field_tag 'sku', @product.id %>
    <p class="text-center">April 1st, 2017<br/>The Iron Yard in St. Petersburg, FL</p>
      <p class="text-center"><a id="btn-buy" class="btn btn-pri"><i class="button-icon"></i>Buy ticket</a></p>
    
      <script>
          var handler = StripeCheckout.configure({
            key: "<%= Rails.configuration.stripe[:publishable_key] %>",
            token: function(token, arg) {
              document.getElementById("stripeToken").value = token.id;
              document.getElementById("stripeEmail").value = token.email;
              document.getElementById("chargesForm").submit();
            }
          });
           document.getElementById('btn-buy').addEventListener('click', function(e) {
            handler.open({
              name: 'Cocoa Academy',
              description: '<%=  @product.title %> ($<%= ("%.f" % @product.price) %>)',
              amount: <%=  @product.price_in_cents %>
          });
          e.preventDefault();
         })
      </script>
    <% end %>
</div>


<div class="classfeatures">
    <div class="row listfeatures">
        <h2>Workshop Features</h2>
        <div class="small-12 large-4 medium 4 columns">
            <p class="text-center"><%= image_tag('feature1.png', alt: 'Siri') %></p>
            <div class="featuretext">
                <h3>Siri</h3>
                <p>You will learn how to use "Hey, Siri" to request and send money.  SiriKit was introduced in iOS 10 and we will the basics of what types of apps can get SiriKit.</p>
            </div>
        </div>
        <div class="small-12 large-4 medium 4 columns">
            <p class="text-center"><%= image_tag('feature2.png', alt: 'TouchID') %></p>
            <div class="featuretext">
                <h3>TouchID</h3>
                <p>We will use TouchID for security.  In this app,  we will create a log in for users to access with either an email or they can use their fingerprint to log into their account.</p>
            </div>
        </div>
        <div class="small-12 large-4 medium 4 columns">
            <p class="text-center"><%= image_tag('feature3.png', alt: 'Contacts') %></p>
            <div class="featuretext">
                <h3>Contacts</h3>
                <p class="text-center"> 
                We will see how you can import a users contacts into the app, in order to send and request money to friends and family.</p>
            </div>
        </div>
    </div>
</div>

<div class="classfeatures">
    <div class="row listfeatures">
        <div class="small-12 large-4 medium 4 columns">
            <p class="text-center"><%= image_tag('feature4.png', alt: 'Swift 3') %></p>
            <div class="featuretext">
                <h3>Swift 3</h3>
                <p>You will learn the lastest in Swift 3 for this workshop.</p>
            </div>
        </div>
        <div class="small-12 large-4 medium 4 columns end">
            <p class="text-center"><%= image_tag('feature5.png', alt: 'Storyboard') %></p>
            <div class="featuretext">
                <h3>Storyboard</h3>
                <p>We will work with Storyboard in order to create all of our UI elements.  Storyboard makes it easy for us to create apps that support multiple device sizes.</p>
            </div>
        </div>
    </div>
</div>
