<!-- Banner -->
<div class="banner">
    <div class="container">
        <div class="center">
            <h1 class="title">Start Learning iOS Development in 2016</h1>
            <p>So you have an app idea that will make you a jillion bucks but don’t know where to begin. Learn the tools and what it takes to create the next big app in 2016. Cocoa Academy brings iOS workshops to the Tampa and St. Petersburg area. Sign up now and don't let someone snag your big app idea!</p>
            <br>
        </div>
    </div>
</div>
<!-- Event Form -->
<section class="eventform newsection">
  <div class="container">

  </div>
</section>
<!--  Events -->
<section class="events-listing newsection">
    <div class="container">

        <!-- Tabs memu -->
        <div class="tabs">
          <div class="event-container">
              <div class="row">
                <% @products.each do |product| %>
                  <div class="col-md-3">
                      <div class="event-listing">
                          <div class="eventsimg">
                            <%= link_to image_tag(product.product_thumb_image), product %>
                          </div>
                          <div class="event-content">
                              <h3 class="title"> <%= link_to product.title, product %></h3>
                              <p> <%= product.date %></p>
                              <hr class="aky-listing">
                              <p><%= product.subtitle %></p>
                          </div>
                          <div class="links clearfix">
                              <!-- <ul>
                                  <li><a class='st_sharethis_large' displayText='ShareThis'><i class="icon fa fa-share"></i> share</a></li>
                                  <li><a href="#"></li>
                                  <li><a href="#"></li>
                              </ul> -->
                          </div>
                      </div>
                  </div>
                <% end %>


              </div><!-- row -->
          </div>
        </div>
    </div>
</section>

<!-- <form>
    <div class="form-input search-location">
        <input type="text" value="" placeholder="Select Location">
        <i class="icon icon-s fa fa-search"></i>
        <button class="icon fa fa-globe"></button>
    </div>

    <div class="form-input ">
        <button class="btn btn-pri ">fınd event</button>
    </div>
</form> -->
